
@{
    ViewBag.Title = "Marketak";
}



<div class="loader">
    <span></span>
    <span></span>
    <span></span>
</div>
<h1>Marketak</h1>
<br />
<button class="btn btn-black" onclick='window.location.href="https://localhost:44383/Home/HomePage"' >Welcome</button>
@Styles.Render("~/Content/Marketak")