@model IEnumerable<Marketak.Models.ProductModel>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>


<div class="container">
    @foreach (var item in Model)
    {

        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="#"><img src=@Html.DisplayFor(modelItem => item.Photo) alt="" /></a>
                </div>
                <ul class="list-inline">
                    <li>Name:@Html.DisplayFor(modelItem => item.Name)</li>
                    <li class='pull-right'>Price:@Html.DisplayFor(modelItem => item.Price)</li>
                </ul>
                <button class="btn btn-black ">@Html.ActionLink("Details","ProductsDetails",new { id=item.ID })</button>
            </div>

        </div>
        <br />
        <hr />
        <br />

    }
</div>

