@model Marketak.Models.ClientModel

@{
    ViewBag.Title = "SignUp";
}

    <body>


        <div class="page-container">

            <form action="#" method="POST">
                <h1>Sign Up</h1>
                <input type="text" name="name" class="Name" placeholder="UserName">
                <input type="email" name="email" class="Email" placeholder="Email">
                <input type="password" name="password" class="Address" placeholder="password">
                <input type="text" name="Address" class="Address" placeholder="Address">
                <input type="date" name="BirthDate" class="BirthDate" placeholder="BirthDate">

            </form>
        </div>
        <button class="btn btn-black" onclick='window.location.href="https://localhost:44383/Home/HomePage"'>SignUp</button>

    </body>
@Styles.Render("~/Content/SignUp");